<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <title>Vue Sample</title>
</head>

<body>
    <div id="app-2">
        <span v-bind:title="message">
            내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
        </span>
    </div>

    <div id="app-3">
        <input type="checkbox" id="checkbox" v-model="seen" />
        <h v-if="seen">{{text}}</h>
        <h v-else="seen">텍스트를 보려면 체크하세요.</h>
    </div>

    <div id="app-4">
        <button v-on:click="pushIdx">데이터 늘리기</button>
        <button v-on:click="popIdx">데이터 줄이기</button>
        <button v-on:click="cusIdx">커스텀 늘리기</button>
        <textarea v-model="input" placeholder="여기에 입력"></textarea>
        <p v-for="dt in data">{{dt.text}}</p>

        <p>
            {{text}}
        </p>
    </div>
    <div id="app-5">
        <textarea v-model="input" placeholder="여기를 수정하면 내용이 바뀝니다"></textarea>

        <p style="white-space: pre-line;">내용 : {{input}}</p>
    </div>
    <div id="app-6">
        <input type="checkbox" id="checkbox" v-model="checkYn" />
        <label for="checkbox">{{checkYn}}</label>
        <h>||</h>
        <label for="checkbox">{{!checkYn}}</label>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
    <script type="text/javascript">
        var app2 = new Vue({
            el: "#app-2",
            data: {
                message: "이 페이지는 " + new Date() + " 에 로드 되었습니다",
            },
        });

        var app3 = new Vue({
            el: "#app-3",
            data: {
                seen: false,
                text: "이렇게 쓰는거구나!",
            },
        });

        var app4 = new Vue({
            el: "#app-4",
            data: {
                data: [
                    { text: "1" },
                    { text: "2" },
                    { text: "3" },
                    { text: "4" },
                    { text: "5" },
                    { text: "6" },
                    { text: "7" },
                    { text: "8" },
                ],
                input: "",
            },
            methods: {
                pushIdx: function () {
                    this.data.push({ text: (this.data.length + 1).toString() });
                },
                popIdx: function () {
                    this.data.pop();
                },
                cusIdx: function () {
                    this.data.push({ text: this.input });
                    this.input = "";
                },
            },
        });

        var app5 = new Vue({
            el: "#app-5",
            data: {
                input: "",
            },
        });

        var app6 = new Vue({
            el: "#app-6",
            data: {
                checkYn: false,
            },
        });
    </script>
</body>

</html>